/target
/datasets
/CARLA_0.9.15
/CARLA_0.9.15.zip
/myenv
/algorithms
/model
/src
/15.0.0
/models
/kaggle.json
/dataset.json
/next steps.txt
/carla activation.txt
/bdd10k
/BDD2YOLO
/BEVFormer
/extra_datasets
/lift-splat-shoot
/MiDaS
/mmdetection3d
/remote_control_cat_by_oranjekyu_dx54f7-fullview.jpg
/nn_graph
/1.3.8
/2.0.0rc4
/Cargo.lock
/Cargo.tomlcleanenv/ 
newenv/ 
yolov7/ 
